In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 

from sklearn.preprocessing import LabelEncoder

In [2]:
df = pd.read_csv("f1_race_results(2015_2025).csv")
df.head()

,Pos.,No.,Driver,Team,Laps,Time / Retired,Pts.,Year,Country,Race Date,Race Link
0,1,44,Lewis HamiltonHAM,Mercedes,58.0,1:31:54.067,25.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...
1,2,6,Nico RosbergROS,Mercedes,58.0,+1.360s,18.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...
2,3,5,Sebastian VettelVET,Ferrari,58.0,+34.523s,15.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...
3,4,19,Felipe MassaMAS,Williams Mercedes,58.0,+38.196s,12.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...
4,5,12,Felipe NasrNAS,Sauber Ferrari,58.0,+95.149s,10.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...

In [3]:
df.shape

(4693, 11)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4693 entries, 0 to 4692
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos.            4693 non-null   object
 1   No.             4693 non-null   int64
 2   Driver          4693 non-null   object
 3   Team            4693 non-null   object
 4   Laps            4686 non-null   float64
 5   Time / Retired  4693 non-null   object
 6   Pts.            4693 non-null   float64
 7   Year            4693 non-null   int64
 8   Country         4693 non-null   object
 9   Race Date       4693 non-null   object
 10  Race Link       4693 non-null   object
dtypes: float64(2), int64(2), object(7)
memory usage: 403.4+ KB

In [5]:
df['Race Dates'] = df['Race Date'] + ' ' + df['Year'].astype(str)
df['Race Dates']

0       15 Mar 2015
1       15 Mar 2015
2       15 Mar 2015
3       15 Mar 2015
4       15 Mar 2015
           ...
4688    07 Dec 2025
4689    07 Dec 2025
4690    07 Dec 2025
4691    07 Dec 2025
4692    07 Dec 2025
Name: Race Dates, Length: 4693, dtype: object

In [6]:
df['Race Dates'] = pd.to_datetime(df['Race Dates'], format='%d %b %Y')
df['Race Dates']

0      2015-03-15
1      2015-03-15
2      2015-03-15
3      2015-03-15
4      2015-03-15
          ...
4688   2025-12-07
4689   2025-12-07
4690   2025-12-07
4691   2025-12-07
4692   2025-12-07
Name: Race Dates, Length: 4693, dtype: datetime64[ns]

In [7]:
df.head()

,Pos.,No.,Driver,Team,Laps,Time / Retired,Pts.,Year,Country,Race Date,Race Link,Race Dates
0,1,44,Lewis HamiltonHAM,Mercedes,58.0,1:31:54.067,25.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...,2015-03-15
1,2,6,Nico RosbergROS,Mercedes,58.0,+1.360s,18.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...,2015-03-15
2,3,5,Sebastian VettelVET,Ferrari,58.0,+34.523s,15.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...,2015-03-15
3,4,19,Felipe MassaMAS,Williams Mercedes,58.0,+38.196s,12.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...,2015-03-15
4,5,12,Felipe NasrNAS,Sauber Ferrari,58.0,+95.149s,10.0,2015,Flag of AustraliaAustralia,15 Mar,https://www.formula1.com/en/results/2015/races...,2015-03-15

In [8]:
df.drop(['Year','Race Date','Race Link'],axis=1,inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4693 entries, 0 to 4692
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos.            4693 non-null   object
 1   No.             4693 non-null   int64
 2   Driver          4693 non-null   object
 3   Team            4693 non-null   object
 4   Laps            4686 non-null   float64
 5   Time / Retired  4693 non-null   object
 6   Pts.            4693 non-null   float64
 7   Country         4693 non-null   object
 8   Race Dates      4693 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 330.1+ KB

In [9]:
df.head()

,Pos.,No.,Driver,Team,Laps,Time / Retired,Pts.,Country,Race Dates
0,1,44,Lewis HamiltonHAM,Mercedes,58.0,1:31:54.067,25.0,Flag of AustraliaAustralia,2015-03-15
1,2,6,Nico RosbergROS,Mercedes,58.0,+1.360s,18.0,Flag of AustraliaAustralia,2015-03-15
2,3,5,Sebastian VettelVET,Ferrari,58.0,+34.523s,15.0,Flag of AustraliaAustralia,2015-03-15
3,4,19,Felipe MassaMAS,Williams Mercedes,58.0,+38.196s,12.0,Flag of AustraliaAustralia,2015-03-15
4,5,12,Felipe NasrNAS,Sauber Ferrari,58.0,+95.149s,10.0,Flag of AustraliaAustralia,2015-03-15

In [10]:
df['Driver'].unique()

array(['Lewis\xa0HamiltonHAM', 'Nico\xa0RosbergROS',
       'Sebastian\xa0VettelVET', 'Felipe\xa0MassaMAS',
       'Felipe\xa0NasrNAS', 'Daniel\xa0RicciardoRIC',
       'Nico\xa0HulkenbergHUL', 'Marcus\xa0EricssonERI',
       'Carlos\xa0SainzSAI', 'Sergio\xa0PerezPER', 'Jenson\xa0ButtonBUT',
       'Kimi\xa0RäikkönenRAI', 'Max\xa0VerstappenVER',
       'Romain\xa0GrosjeanGRO', 'Pastor\xa0MaldonadoMAL',
       'Daniil\xa0KvyatKVY', 'Kevin\xa0MagnussenMAG',
       'Valtteri\xa0BottasBOT', 'Roberto\xa0MerhiMER',
       'Fernando\xa0AlonsoALO', 'Will\xa0StevensSTE',
       'Alexander\xa0RossiRSI', 'Jolyon\xa0PalmerPAL',
       'Pascal\xa0WehrleinWEH', 'Rio\xa0HaryantoHAR',
       'Esteban\xa0Gutierrez GUT', 'Stoffel\xa0VandoorneVAN',
       'Esteban\xa0OconOCO', 'Antonio\xa0GiovinazziGIO',
       'Lance\xa0StrollSTR', 'Paul\xa0di RestaDIR', 'Pierre\xa0GaslyGAS',
       'Brendon\xa0HartleyHAR', 'Charles\xa0LeclercLEC',
       'Sergey\xa0SirotkinSIR', 'Lando\xa0NorrisNOR',
       'Alexander\xa0AlbonALB', 'George\xa0RussellRUS',
       'Robert\xa0KubicaKUB', 'Nicholas\xa0LatifiLAT',
       'Jack\xa0AitkenAIT', 'Pietro\xa0FittipaldiFIT',
       'Yuki\xa0TsunodaTSU', 'Mick\xa0SchumacherMSC',
       'Nikita\xa0MazepinMAZ', 'Zhou\xa0GuanyuZHO', 'Nyck\xa0De VriesDEV',
       'Logan\xa0SargeantSAR', 'Oscar\xa0PiastriPIA', 'Liam\xa0LawsonLAW',
       'Oliver\xa0BearmanBEA', 'Franco\xa0ColapintoCOL',
       'Jack\xa0DoohanDOO', 'Kimi\xa0AntonelliANT',
       'Gabriel\xa0BortoletoBOR', 'Isack\xa0HadjarHAD'], dtype=object)

In [11]:
df['Driver'] = (
    df['Driver']
    .str.replace('\xa0', ' ', regex=False)
    .str.replace(r'[A-Z]{3}$', '', regex=True)
    .str.strip()
)
df['Driver'].unique()

array(['Lewis Hamilton', 'Nico Rosberg', 'Sebastian Vettel',
       'Felipe Massa', 'Felipe Nasr', 'Daniel Ricciardo',
       'Nico Hulkenberg', 'Marcus Ericsson', 'Carlos Sainz',
       'Sergio Perez', 'Jenson Button', 'Kimi Räikkönen',
       'Max Verstappen', 'Romain Grosjean', 'Pastor Maldonado',
       'Daniil Kvyat', 'Kevin Magnussen', 'Valtteri Bottas',
       'Roberto Merhi', 'Fernando Alonso', 'Will Stevens',
       'Alexander Rossi', 'Jolyon Palmer', 'Pascal Wehrlein',
       'Rio Haryanto', 'Esteban Gutierrez', 'Stoffel Vandoorne',
       'Esteban Ocon', 'Antonio Giovinazzi', 'Lance Stroll',
       'Paul di Resta', 'Pierre Gasly', 'Brendon Hartley',
       'Charles Leclerc', 'Sergey Sirotkin', 'Lando Norris',
       'Alexander Albon', 'George Russell', 'Robert Kubica',
       'Nicholas Latifi', 'Jack Aitken', 'Pietro Fittipaldi',
       'Yuki Tsunoda', 'Mick Schumacher', 'Nikita Mazepin', 'Zhou Guanyu',
       'Nyck De Vries', 'Logan Sargeant', 'Oscar Piastri', 'Liam Lawson',
       'Oliver Bearman', 'Franco Colapinto', 'Jack Doohan',
       'Kimi Antonelli', 'Gabriel Bortoleto', 'Isack Hadjar'],
      dtype=object)

In [12]:
df.isna().sum()

Pos.              0
No.               0
Driver            0
Team              0
Laps              7
Time / Retired    0
Pts.              0
Country           0
Race Dates        0
dtype: int64

In [13]:
df.dropna(subset=['Laps'],inplace=True)
df.isna().sum().sum()

0

In [14]:
df.isnull().sum()

Pos.              0
No.               0
Driver            0
Team              0
Laps              0
Time / Retired    0
Pts.              0
Country           0
Race Dates        0
dtype: int64

In [15]:
df.head()

,Pos.,No.,Driver,Team,Laps,Time / Retired,Pts.,Country,Race Dates
0,1,44,Lewis Hamilton,Mercedes,58.0,1:31:54.067,25.0,Flag of AustraliaAustralia,2015-03-15
1,2,6,Nico Rosberg,Mercedes,58.0,+1.360s,18.0,Flag of AustraliaAustralia,2015-03-15
2,3,5,Sebastian Vettel,Ferrari,58.0,+34.523s,15.0,Flag of AustraliaAustralia,2015-03-15
3,4,19,Felipe Massa,Williams Mercedes,58.0,+38.196s,12.0,Flag of AustraliaAustralia,2015-03-15
4,5,12,Felipe Nasr,Sauber Ferrari,58.0,+95.149s,10.0,Flag of AustraliaAustralia,2015-03-15

In [16]:
df.tail()

,Pos.,No.,Driver,Team,Laps,Time / Retired,Pts.,Country,Race Dates
4688,16,23,Alexander Albon,Williams,58.0,+90.327s,0.0,Flag of United Arab EmiratesAbu Dhabi,2025-12-07
4689,17,6,Isack Hadjar,Racing Bulls,57.0,+1 lap,0.0,Flag of United Arab EmiratesAbu Dhabi,2025-12-07
4690,18,30,Liam Lawson,Racing Bulls,57.0,+1 lap,0.0,Flag of United Arab EmiratesAbu Dhabi,2025-12-07
4691,19,10,Pierre Gasly,Alpine,57.0,+1 lap,0.0,Flag of United Arab EmiratesAbu Dhabi,2025-12-07
4692,20,43,Franco Colapinto,Alpine,57.0,+1 lap,0.0,Flag of United Arab EmiratesAbu Dhabi,2025-12-07

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4686 entries, 0 to 4692
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Pos.            4686 non-null   object
 1   No.             4686 non-null   int64
 2   Driver          4686 non-null   object
 3   Team            4686 non-null   object
 4   Laps            4686 non-null   float64
 5   Time / Retired  4686 non-null   object
 6   Pts.            4686 non-null   float64
 7   Country         4686 non-null   object
 8   Race Dates      4686 non-null   datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(5)
memory usage: 366.1+ KB

In [18]:
df['Time / Retired'].value_counts()

Time / Retired
+1 lap      1164
DNF          726
+2 laps      196
DNS           29
+3 laps       22
            ...
+58.165s       1
+59.315s       1
+73.802s       1
+74.492s       1
+90.327s       1
Name: count, Length: 2527, dtype: int64

In [19]:
def parse_time(x):
    x = str(x)
    
    # Numeric race time
    if ':' in x:
        parts = x.split(':')
        if len(parts) == 3:  # h:m:s
            h, m, s = parts
        elif len(parts) == 2:  # m:s
            h = 0
            m, s = parts
        s = float(s)
        return int(h)*3600 + int(m)*60 + s
    
    # Time behind leader
    elif x.startswith('+'):
        if 'lap' in x:
            laps = int(x.split()[0][1:])  # '+2 laps' → 2
            # Option: approximate each lap as 90 seconds (depends on track)
            return laps * 90
        elif 's' in x:
            seconds = float(x[1:-1])
            return seconds
        else:
            return None
    
    # Retirements or special codes
    elif x in ['Ret','DNF','DNS','DSQ','Acc','Mechanical','NC','DQ']:
        return np.nan
    
    else:
        return np.nan

In [20]:
df['Time_seconds'] = df['Time / Retired'].apply(parse_time)

In [21]:
df['Time_seconds'] .value_counts()

Time_seconds
90.000     1164
180.000     196
270.000      22
360.000       5
61.040        2
           ...
58.165        1
59.315        1
73.802        1
74.492        1
90.327        1
Name: count, Length: 2525, dtype: int64

In [22]:
df.isna().sum()

Pos.                0
No.                 0
Driver              0
Team                0
Laps                0
Time / Retired      0
Pts.                0
Country             0
Race Dates          0
Time_seconds      755
dtype: int64

In [23]:
df.dropna(subset=['Time_seconds'],inplace=True)
df.isna().sum().sum()

0

In [24]:
le = LabelEncoder()
df['Driver_code'] = le.fit_transform(df['Driver'])
df['Country_code']=le.fit_transform(df['Country'])
df['Team_code'] = le.fit_transform(df['Team'])

In [25]:
df.head()

,Pos.,No.,Driver,Team,Laps,Time / Retired,Pts.,Country,Race Dates,Time_seconds,Driver_code,Country_code,Team_code
0,1,44,Lewis Hamilton,Mercedes,58.0,1:31:54.067,25.0,Flag of AustraliaAustralia,2015-03-15,5514.067,26,0,23
1,2,6,Nico Rosberg,Mercedes,58.0,+1.360s,18.0,Flag of AustraliaAustralia,2015-03-15,1.360,34,0,23
2,3,5,Sebastian Vettel,Ferrari,58.0,+34.523s,15.0,Flag of AustraliaAustralia,2015-03-15,34.523,47,0,10
3,4,19,Felipe Massa,Williams Mercedes,58.0,+38.196s,12.0,Flag of AustraliaAustralia,2015-03-15,38.196,10,0,40
4,5,12,Felipe Nasr,Sauber Ferrari,58.0,+95.149s,10.0,Flag of AustraliaAustralia,2015-03-15,95.149,11,0,35

In [26]:
df.to_csv('preprocessed.csv',index=False) # save the above processed data set

## Data of the race driver participating in 2026

In [27]:
drivers_2026 = [
    "Lewis Hamilton", "Max Verstappen", "Charles Leclerc", "George Russell",
    "Sergio Perez", "Carlos Sainz", "Fernando Alonso", "Lando Norris",
    "Esteban Ocon", "Pierre Gasly", "Yuki Tsunoda", "Oscar Piastri",
    "Kevin Magnussen", "Nico Hulkenberg", "Zhou Guanyu", "Alex Albon",
    "Logan Sargeant", "Lance Stroll", "Daniel Ricciardo", "Valtteri Bottas"
]

In [28]:
df_2026 = df[df['Driver'].isin(drivers_2026)]

In [29]:
df_2026.head(10)

,Pos.,No.,Driver,Team,Laps,Time / Retired,Pts.,Country,Race Dates,Time_seconds,Driver_code,Country_code,Team_code
0,1,44,Lewis Hamilton,Mercedes,58.0,1:31:54.067,25.0,Flag of AustraliaAustralia,2015-03-15,5514.067,26,0,23
5,6,3,Daniel Ricciardo,Red Bull Racing Renault,57.0,+1 lap,8.0,Flag of AustraliaAustralia,2015-03-15,90.000,6,0,31
6,7,27,Nico Hulkenberg,Force India Mercedes,57.0,+1 lap,6.0,Flag of AustraliaAustralia,2015-03-15,90.000,33,0,11
8,9,55,Carlos Sainz,STR Renault,57.0,+1 lap,2.0,Flag of AustraliaAustralia,2015-03-15,90.000,4,0,34
9,10,11,Sergio Perez,Force India Mercedes,57.0,+1 lap,1.0,Flag of AustraliaAustralia,2015-03-15,90.000,49,0,11
18,2,44,Lewis Hamilton,Mercedes,56.0,+8.569s,18.0,Flag of MalaysiaMalaysia,2015-03-29,8.569,26,20,23
21,5,77,Valtteri Bottas,Williams Mercedes,56.0,+70.409s,10.0,Flag of MalaysiaMalaysia,2015-03-29,70.409,51,20,40
23,7,33,Max Verstappen,STR Renault,56.0,+97.762s,6.0,Flag of MalaysiaMalaysia,2015-03-29,97.762,30,20,34
24,8,55,Carlos Sainz,STR Renault,55.0,+1 lap,4.0,Flag of MalaysiaMalaysia,2015-03-29,90.000,4,20,34
26,10,3,Daniel Ricciardo,Red Bull Racing Renault,55.0,+1 lap,1.0,Flag of MalaysiaMalaysia,2015-03-29,90.000,6,20,31

In [30]:
df_2026.columns

Index(['Pos.', 'No.', 'Driver', 'Team', 'Laps', 'Time / Retired', 'Pts.',
       'Country', 'Race Dates', 'Time_seconds', 'Driver_code', 'Country_code',
       'Team_code'],
      dtype='object')

In [31]:
df_2026 = df_2026[df_2026['Pos.']!= 'DQ']

In [32]:
df_2026.to_csv('2026_Drivers_preprocessed.csv',index=False)